.idea/
res/models/material/construction/building/Croisic_annexe/blank.mtl
res/models/material/construction/building/Croisic_annexe/bois.mtl
res/models/material/construction/building/Croisic_annexe/brique_gris.mtl
res/models/material/construction/building/Croisic_annexe/crepi_jaune.mtl
res/models/material/construction/building/Croisic_annexe/fenetre.mtl
res/models/material/construction/building/Croisic_annexe/metal.mtl
res/models/material/construction/building/Croisic_annexe/mur_crepi.mtl
res/models/material/construction/building/Croisic_annexe/pierre.mtl
res/models/material/construction/building/Croisic_annexe/porte.mtl
res/models/material/construction/building/Croisic_annexe/toit.mtl
res/models/material/construction/building/Croisic_annexe/tuile.mtl
res/models/model/construction/building/Croisic_annexe.mdl
res/textures/models/buildings/croisic_annexe/bois_albedo_opacity.dds
res/textures/models/buildings/croisic_annexe/bois_metal_gloss_ao.dds
res/textures/models/buildings/croisic_annexe/bois_normal.dds
res/textures/models/buildings/croisic_annexe/mur_crepi.dds
res/textures/models/buildings/croisic_annexe/mur_metal_gloss_ao.dds
res/textures/models/buildings/croisic_annexe/mur_normal.dds
res/textures/models/buildings/croisic_annexe/pierre_albedo.dds
res/textures/models/buildings/croisic_annexe/pierre_mga.dds
res/textures/models/buildings/croisic_annexe/pierre_normal.dds
res/textures/models/buildings/croisic_annexe/toit_albedo.dds
res/textures/models/buildings/croisic_annexe/toit_mga.dds
res/textures/models/buildings/croisic_annexe/toit_normal.dds
res/textures/models/buildings/croisic_annexe/tuile_albedo_opacity.dds
res/textures/models/buildings/croisic_annexe/tuile_metal_gloss_ao.dds
res/textures/models/buildings/croisic_annexe/tuile_normal.dds
res/models/mesh/construction/building/Croisic_annexe/blank_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/blank_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/bois_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/bois_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/brique_gris_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/brique_gris_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/crepi_jaune_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/crepi_jaune_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/fenetre_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/fenetre_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/metal_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/metal_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/mur_crepi_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/mur_crepi_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/pierre_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/pierre_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/porte_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/porte_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/toit_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/toit_lod0.msh.blob
res/models/mesh/construction/building/Croisic_annexe/Tuile_lod0.msh
res/models/mesh/construction/building/Croisic_annexe/Tuile_lod0.msh.blob
